<section class="about-us-section">
    <div class="about-us-container">
        <div class="paragraphs-section">
            <h2 class="about-us-title">
                About Us
            </h2>
            <p class="about-us-text text-p1">
                Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of
                timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable
                and stylish accessory on your wrist.
            </p>
            <p class="about-us-text">
                At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece
                that reflects your personality and style. So why settle for anything less than the best?
            </p>
            <a class="about-us-link" href="./catalog.html#catalog">
            View catalog
            </a>
        
        </div>
    <div class="about-us-picture">
        <picture>
            <source srcset="../img/about-us/rectangle-desktop@1x.jpg 1x, ../img/about-us/rectangle-desktop@2x.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="../img/about-us/rectangle-tablet@1x.jpg 1x, ../img/about-us/rectangle-tablet@2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="../img/about-us/rectangle-phone@1x.jpg 1x, ../img/about-us/rectangle-phone@2x.jpg 2x" media="(min-width: 375px)" />
        <img src="../img/about-us/rectangle-desktop@1x.jpg" alt="rectangle photo" />
        </picture>
    </div>
    </div>
    
</section>
