<section class="section-catalog">
  <div class="container">
    <h2 id="catalog" class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <img
          src="/img/catalog/desk/clock1-desk.png"
          alt="Garmin Fenix 7X Pro Sapphire Solar "
          class="catalog-img"
          width="304"
          height="312"
        />
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li>
        <img
          src="/img/catalog/desk/clock2-desk.png"
          alt="Garmin Marq Athlete"
          class="catalog-img"
          width="304"
          height="312"
        />
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li>
        <img
          src="/img/catalog/desk/clock3-desk.png"
          alt="Garmin Descent MK1"
          class="catalog-img"
          width="304"
          height="312"
        />
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li>
        <img
          src="/img/catalog/desk/clock4-desk.png"
          alt="Garmin D2 Delta PX"
          class="catalog-img"
          width="304"
          height="312"
        />
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li>
        <img
          src="/img/catalog/desk/clock5-desk.png"
          alt="Garmin Fenix 6 Pro Solar"
          class="catalog-img"
          width="304"
          height="312"
        />
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li>
        <img
          src="/img/catalog/desk/clock6-desk.png"
          alt="Tube Watch S42 Date Steel With Black Case"
          class="catalog-img"
          width="304"
          height="312"
        />
        <div class="catalog-description">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
  </div>
</section>
