<!---------- Catalog Section------------>
<section class="section-catalog">
  <div class="container">
    <h2 id="catalog" class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/desk/clock1-desk.png    1x,
              /img/catalog/desk/clock1@2x-desk.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/catalog/tab/clock1-tab.png    1x,
              /img/catalog/tab/clock1@2x-tab.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/mob/clock1-mob.png    1x,
              /img/catalog/mob/clock1@2x-mob.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="/img/catalog/desk/clock1-desk.png"
            alt="Garmin Fenix 7X Pro Sapphire Solar "
            class="catalog-img"
            width="304"
            height="312"
          />
        </picture>
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/desk/clock2-desk.png    1x,
              /img/catalog/desk/clock2@2x-desk.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/catalog/tab/clock2-tab.png    1x,
              /img/catalog/tab/clock2@2x-tab.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/mob/clock2-mob.png    1x,
              /img/catalog/mob/clock2@2x-mob.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            src="/img/catalog/desk/clock2-desk.png"
            alt="Garmin Marq Athlete"
            class="catalog-img"
            width="304"
            height="312"
          />
        </picture>
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/desk/clock3-desk.png    1x,
              /img/catalog/desk/clock3@2x-desk.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/catalog/tab/clock3-tab.png    1x,
              /img/catalog/tab/clock3@2x-tab.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/mob/clock3-mob.png    1x,
              /img/catalog/mob/clock3@2x-mob.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="/img/catalog/desk/clock3-desk.png"
            alt="Garmin Descent MK1"
            class="catalog-img"
            width="304"
            height="312"
          />
        </picture>
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              /img/catalog/desk/clock4-desk.png    1x,
              /img/catalog/desk/clock4@2x-desk.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/catalog/tab/clock4-tab.png    1x,
              /img/catalog/tab/clock4@2x-tab.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/catalog/mob/clock4-mob.png    1x,
              /img/catalog/mob/clock4@2x-mob.png 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="/img/catalog/desk/clock4-desk.png"
            alt="Garmin D2 Delta PX"
            class="catalog-img"
            width="304"
            height="312"
          />
        </picture>
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-item catalog-item-hidden">
        <picture>
          <source
            srcset="
              /img/catalog/desk/clock5-desk.png    1x,
              /img/catalog/desk/clock5@2x-desk.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/catalog/tab/clock5-tab.png    1x,
              /img/catalog/tab/clock5@2x-tab.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="/img/catalog/desk/clock5-desk.png"
            alt="Garmin Fenix 6 Pro Solar"
            class="catalog-img"
            width="304"
            height="312"
          />
        </picture>
        <div class="catalog-description">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-item catalog-item-hidden">
        <picture>
          <source
            srcset="
              /img/catalog/desk/clock6-desk.png    1x,
              /img/catalog/desk/clock6@2x-desk.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/catalog/tab/clock6-tab.png    1x,
              /img/catalog/tab/clock6@2x-tab.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/catalog/desk/clock6-desk.png"
            alt="Tube Watch S42 Date Steel With Black Case"
            class="catalog-img"
            width="304"
            height="312"
          />
        </picture>
        <div class="catalog-description">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="button-show-more" type="button">Show more</button>
  </div>
</section>
