<section class="contact-container">
  <div class="contact-title">
    <h2>Contact Us</h2>
  </div>
  <div class="content--direction">
    <div class="contact-section">
      <div class="contact-form">
        <p>
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <div class="input-section">
          <input type="text" id="name" name="name" placeholder="Name" />
        </div>
        <div class="input-section">
          <input type="email" id="email" name="email" placeholder="Email" />
        </div>
        <div class="input-section">
          <input type="text" id="number" name="number" placeholder="+380" />
        </div>
        <div class="input-section">
          <textarea
            id="comment"
            name="comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button type="submit">Send</button>
      </div>
    </div>
    <div class="contact-form-photo">
      <img
        src="/img/contact-img/watch--white.png"
        alt="rec15"
        class="watch--white"
      />
    </div>
  </div>
</section>
