<section id="contact-us" class="section contact-section">
  <div class="container">
    <div class="contact-title">
      <h2>Contact Us</h2>
    </div>
    <div class="content--direction">
      <div class="contact-us-section">
        <form class="contact-form">
          <p>
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </p>
          <div class="input-section">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              required
            />
          </div>
          <div class="input-section">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="input-section">
            <input
              type="text"
              id="number"
              name="number"
              placeholder="+380"
              required
            />
          </div>
          <div class="input-section">
            <textarea
              id="comment"
              name="comment"
              placeholder="Comment"
            ></textarea>
            <button type="submit" class="send-button">Send</button>
          </div>
        </form>
      </div>
      <div class="contact-form-photo">
        <picture>
          <!-- настройки для декстопа -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/contact-img/dekstop-watch.jpg    1x,
              ./img/contact-img/dekstop-watch@2x.jpg 2x
            "
          />
          <!-- настройки для планшета -->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/contact-img/tablet-watch.jpg    1x,
              /img/contact-img/tablet-watch@2x.jpg 2x
            "
          />
          <!-- настройки для мобилки -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/contact-img/mob-watch.jpg    1x,
              ./img/contact-img/mob-watch@2x.jpg 2x
            "
          />

          <img
            class="watch--white"
            src="./src/img/contact-img/tablet-watch.jpg"
            alt="White Watch stay at rock"
            width="100"
          />
        </picture>
        <!-- <img
        src="../img/contact-img/watch--white.jpg"
        alt="rec15"
        class="watch--white"
      /> -->
      </div>
    </div>
  </div>
</section>
