<footer class="footer-seks container">
    <div class="footer-container">


          <div class="footer_pozyc-one">
          <div class="footer-soc">
            <h2 class="footer-zago">watchcharm
            </h2>
            <ul class="footer-spysok">
                <li class="footer-list">
                    <a class="footer-soc-svg" href="https://www.facebook.com/goITclub/">
                        <svg class="footer-svg" >
                            <use href="./img/icons.svg#icon-facebook-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-list">
                    <a class="footer-soc-svg" href="https://www.instagram.com/goitclub/">
                        <svg class="footer-svg">
                            <use href="./img/icons.svg#icon-instagram-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-list">
                    <a class="footer-soc-svg" href="https://www.youtube.com/c/GoIT">
                        <svg class="footer-svg">
                            <use href="./img/icons.svg#icon-youtube-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>
                </div>
                          <div class="footer-tel">
                               <a class="tel" href="">+380 (68) 443-94-26</a>
                           </div>
                            <div class="footer-div-zagolovok">
                               <h1 class="footer-zagolovok">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</h1>
                            </div>
            </div>


    <div class="footer-pozyc-two"> 
        <div class="footer-Home">
            <div class="footer-roz">
                <nav class="block-navigation">
 <ul class="footer-Home-spysok">
<li class="footer-Home-list">
<a href="#home" class="footer-Home-text">Home</a>
</li>
<li class="footer-Home-list">
<a href="#about-us" class="footer-Home-text">About Us</a>
</li>
<li class="footer-Home-list">
<a href="#catalog" class="footer-Home-text">Catalog</a>
</li>
<li class="footer-Home-list">
<a href="#sale" class="footer-Home-text">Sale</a>
</li>
<li class="footer-Home-list">
<a href="#reviews" class="footer-Home-text">Reviews</a>
</li>
<li class="footer-Home-list">
<a href="#contact-us" class="footer-Home-text">Contact Us</a>
</li>                   
</ul>
</nav>
         <div class="footer-Home-Pioneer">
         <p class="Home-Pioneer">1678 S. Pioneer Road Salt Lake City UT 84104</p>
     </div>
      </div>  
          
                        <div class="footer-footer">
                        </div>


           <div class="footer-div-footer">
            <p class="footer-last">©2023 The Watch Spot. All rights reserved.</p> 
            <div class="ooter-navigation-poz">
            <ul class="footer-last-spysok">    
                <li class="footer-last-list">
                    <p class="footer-last-text">Terms of Service</p>
                </li>
                 <li class="footer-last-list">
                    <p class="footer-last-text">Privacy Policy</p>
                 </li>                   
            </ul>
            </div>
        </div>
        </div>
    </div>

    </div>
</footer>