<footer class="footer-section container">
    <div class="footer-container">


          <div class="footer_container-one">
          <div class="footer-soc">
            <div class="footer-logo-boxs" >
            <a class="footer-logo" target="_blank" href="https://policies.google.com/privacy?hl=en-US">watchcharm</a>
        </div>
            <ul class="footer-socials">
                <li class="footer-list-socials">
                    <a class="footer-soc-svg" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="footer-svg" >
                            <use href="./img/icons.svg#icon-facebook-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-list-socials">
                    <a class="footer-soc-svg" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="footer-svg">
                            <use href="./img/icons.svg#icon-instagram-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-list-socials">
                    <a class="footer-soc-svg" href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg class="footer-svg">
                            <use href="./img/icons.svg#icon-youtube-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>
                </div>
                          <div class="footer-tel">
                               <a class="tel" href="+380684439426">+380 (68) 443-94-26</a>
                           </div>
                            <div class="footer-div-title">
                               <p class="footer-title">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
                            </div>
            </div>


    <div class="footer-container-two"> 
        <div class="footer-Home">
            <div class="footer-positiong">
                <nav class="block-navigation">
 <ul class="footer-Home-spysok">
<li class="footer-Home-list">
<a href="#home" class="footer-Home-text">Home</a>
</li>
<li class="footer-Home-list">
<a href="#about-us" class="footer-Home-text">About Us</a>
</li>
<li class="footer-Home-list">
<a href="#catalog" class="footer-Home-text">Catalog</a>
</li>
<li class="footer-Home-list">
<a href="#sale" class="footer-Home-text">Sale</a>
</li>
<li class="footer-Home-list">
<a href="#reviews" class="footer-Home-text">Reviews</a>
</li>
<li class="footer-Home-list">
<a href="#contact-us" class="footer-Home-text">Contact Us</a>
</li>                   
</ul>
</nav>
         <div class="footer-Home-Pioneer">
         <p class="Home-Pioneer">1678 S. Pioneer Road Salt Lake City UT 84104</p>
     </div>
      </div>  
          
                        <div class="footer-footer">
                        </div>


           <div class="footer-div-footer">
            <p class="footer-last">©2023 The Watch Spot. All rights reserved.</p> 
            <div class="ooter-navigation-poz">
            <ul class="footer-last-spysok">    
                <li class="footer-items-list">
                    <a class="footer-last-text" target="_blank" href="https://policies.google.com/terms?hl=en-US">Terms of Service</a>
                </li>
                 <li class="footer-items-list">
                    <a class="footer-last-text" target="_blank" href="https://policies.google.com/privacy?hl=en-US">Privacy Policy</a>
                 </li>                   
            </ul>
            </div>
        </div>
        </div>
    </div>

    </div>
</footer>