
<body class="body">
 <footer class="footer-seks">
        <div class="footer-container">

            <div class="footer_pozyc-one">
            <div class="footer-soc">
                <h2 class="footer-zago">watchcharm
                </h2>
                <ul class="footer-spysok">
                    <li class="footerlist">
                        <a class="footer-soc-svg" href="">
                            <svg class="footer-svg" width="34" height="34">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footerlist">
                        <a class="footer-soc-svg" href="">
                            <svg class="footer-svg" width="34" height="34">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footerlist">
                        <a class="footer-soc-svg" href="">
                            <svg class="footer-svg" width="34" height="34">
                                <use href=""></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-tel">
                <a class="tel" href="+380 (68) 443-94-26">+380 (68) 443-94-26</a>
            </div>
        <div class="footer-div-zagolovok">
            <h1 class="footer-zagolovok">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</h1>
        </div>
        </div>

        <div class="footer_pozyc-two">
            <div class="footer-Home">
                <ul class="footer-Home-spysok">
<li class="footer-Home-list">
    <p class="footer-Home-text">Home</p>
</li>
<li class="footer-Home-list">
    <p class="footer-Home-text">About Us</p>
</li>
<li class="footer-Home-list">
    <p class="footer-Home-text">Catalog</p>
</li>
<li class="footer-Home-list">
    <p class="footer-Home-text">Sale</p>
</li>
<li class="footer-Home-list">
    <p class="footer-Home-text">Reviews</p>
</li>
 <li class="footer-Home-list">
    <p class="footer-Home-text">Contact Us</p>
 </li>                   
                </ul>
                <div class="footer-Home-Pioneer">
                    <p class="Home-Pioneer">1678 S. Pioneer Road Salt Lake City UT 84104</p>
                </div>
            </div>
            <div class="footer-last">
                <p class="footer-last-text">©2023 The Watch Spot. All rights reserved.</p> 
                <ul class="footer-last-spysok">    
<li class="footer-last-list">
    <p class="footer-last-text">Terms of Service</p>
</li>
 <li class="footer-last-list">
    <p class="footer-last-text">Privacy Policy</p>
 </li>                   
                </ul>
            </div>
        </div>

        </div>
</form>
</body>
</html>