<header class="navbar header-title visible">
  <div class="container header-container">
    <nav class="nav">
      <a href="../index.html" class="logo">watchcharm</a>
      <ul class="nav-list">
        <li class="nav-items">
          <a href="#hero" class="nav-link nav-active">Home</a>
        </li>
        <li class="nav-items">
          <a href="#about-us" class="nav-link">About Us</a>
        </li>
        <li class="nav-items">
          <a href="#catalog" class="nav-link">Catalog</a>
        </li>
        <li class="nav-items"><a href="#sale" class="nav-link">Sale</a></li>
        <li class="nav-items">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
        <li class="nav-items">
          <a href="#contact-us" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button data-menu-open type="button" class="btn-menu">
      <svg class="menu-icon" width="34" height="34">
        <use href="./img/icons.svg#menu-icon"></use>
      </svg>
    </button>
    <ul class="social-list">
      <li class="social-items">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link"
          target="_blank"
        >
          <svg class="social-icons" width="21" height="20">
            <use href="./img/icons.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-items">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link"
          target="_blank"
        >
          <svg class="social-icons" width="21" height="20">
            <use href="./img/icons.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-items">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-link"
          target="_blank"
        >
          <svg class="social-icons" width="21" height="20">
            <use href="./img/icons.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- <svg class="under-line" width="" height="">
      <use href="../img/icons.svg"></use>
    </svg> -->
  </div>
</header>
<div data-menu class="menu">
  <button data-menu-close type="button" class="btn-close">
    <svg class="close-icon" width="34" height="34">
      <use href="./img/icons.svg#close-icon"></use>
    </svg>
  </button>
  <nav class="nav-menu">
    <ul class="menu-nav-list">
      <li class="menu-nav-items">
        <a href="#hero" class="menu-nav-link nav-active">Home</a>
      </li>
      <li class="menu-nav-items">
        <a href="#about-us" class="menu-nav-link">About Us</a>
      </li>
      <li class="menu-nav-items">
        <a href="#catalog" class="menu-nav-link">Catalog</a>
      </li>
      <li class="menu-nav-items">
        <a href="#sale" class="menu-nav-link">Sale</a>
      </li>
      <li class="menu-nav-items">
        <a href="#reviews" class="menu-nav-link">Reviews</a>
      </li>
      <li class="menu-nav-items">
        <a href="#contact-us" class="menu-nav-link">Contact Us</a>
      </li>
    </ul>
  </nav>
  <ul class="menu-social-list">
    <li class="menu-social-items">
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        class="menu-social-link"
      >
        <svg class="menu-social-icon" width="18" height="18">
          <use href="./img/icons.svg#facebook-icon"></use>
        </svg>
      </a>
    </li>
    <li class="menu-social-items">
      <a
        href="https://www.instagram.com/goITclub/"
        target="_blank"
        class="menu-social-link"
      >
        <svg class="menu-social-icon" width="18" height="18">
          <use href="./img/icons.svg#instagram-icon"></use>
        </svg>
      </a>
    </li>
    <li class="menu-social-items">
      <a
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
        class="menu-social-link"
      >
        <svg class="menu-social-icon" width="18" height="18">
          <use href="./img/icons.svg#youtube-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
