<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="/css/reviews.css">
</head>

<body>
    <section class="reviews">
        <div class="container">
            <h2 class="section-title reviews-title">Reviews</h2>
            <ul class="reviews-list list">
                <li class="reviews-list-item">
                    <img srcset="/img/reviews/John1x.png, /img/reviews/John2x.png" class="reviews-list-img"
                        src="img/reviews/John.png" alt="John Wax" width="56" height="56">
                    <div>
                        <h3 class="reviews-list-fullname">John Wax</h3>
                        <p class="reviews-list-text">Buying a watch from was the best choice for me. The design is
                            perfectly
                            combined with high
                            quality materials.The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
                    </div>
                </li>
                <li class="reviews-list-item">
                    <img srcset="/img/reviews/Victoria1x.png, /img/reviews/Victoria2x.png" class="reviews-list-img"
                        src="img/reviews/Victoria.png" alt="" width="56" height="56">
                    <div>
                        <h3 class="reviews-list-fullname">Victoria Romashenko</h3>
                        <p class="reviews-list-text">Can't take my eyes off my watch from. Every time I put it on, it is
                            admired by those around
                            me.The build quality and attention to detail make it a real gem among my accessories.</p>
                    </div>
                </li>
                <li class="reviews-list-item">
                    <img srcset="/img/reviews/Anastasia1x.png, /img/reviews/Anastasia2x.png" class="reviews-list-img"
                        src="img/reviews/Anastasia.png" alt="" width="56" height="56">
                    <div>
                        <h3 class="reviews-list-fullname">Anastasia Trachuk</h3>
                        <p class="reviews-list-text">My watch from is a real masterpiece. Every detail impresses with
                            the
                            high quality of
                            execution.Special features like [specify features] make it an indispensable companion in my
                            daily life.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>