<!------------------Reviews------------------->
<section id="reviews" class="section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper">
      <ul class="swiper-wrapper">

        <li class="swiper-slide">
          <div data-aos="zoom-in-right" class="reviews-item">
            <img
              srcset="/img/reviews/team1.png 1x, /img/reviews/team1@2x.png 2x"
              src="/img/reviews/team1.png"
              alt="photo John Wax"
              width="56"
              height="56"
              class="reviews-img"
            />
            <div class="description-reviews">
              <h3 class="description-reviews-title">John Wax</h3>
              <p class="description-reviews-text">
                Buying a watch from was the best choice for me. The design is
                perfectly combined with high quality materials. The strap fits
                nicely on the hand, and the mechanism works flawlessly.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div data-aos="zoom-in-up" class="reviews-item">
            <img
              srcset="/img/reviews/team2.png 1x, /img/reviews/team2@2x.png 2x"
              src="/img/reviews/team2.png"
              alt="photo Victoria Romashenko"
              width="56"
              height="56"
              class="reviews-img"
            />
            <div class="description-reviews">
              <h3 class="description-reviews-title">Victoria Romashenko</h3>
              <p class="description-reviews-text">
                Can't take my eyes off my watch from. Every time I put it on, it
                is admired by those around me. The build quality and attention
                to detail make it a real gem among my accessories.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div data-aos="zoom-in-left" class="reviews-item">
            <img
              srcset="/img/reviews/team3.png 1x, /img/reviews/team3@2x.png 2x"
              src="/img/reviews/team3.png"
              alt="photo Anastasia Trachuk"
              width="56"
              height="56"
              class="reviews-img"
            />
            <div class="description-reviews">
              <h3 class="description-reviews-title">Anastasia Trachuk</h3>
              <p class="description-reviews-text">
                My watch from is a real masterpiece. Every detail impresses with
                the high quality of execution. Special features like [specify
                features] make it an indispensable companion in my daily life.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-item">
            <img
              srcset="/img/reviews/team4.png 1x, /img/reviews/team4@2x.png 2x"
              src="/img/reviews/team4.png"
              alt="photo Victoria Dobrzhanska"
              width="56"
              height="56"
              class="reviews-img"
            />
            <div class="description-reviews">
              <h3 class="description-reviews-title">Victoria Dobrzhanska</h3>
              <p class="description-reviews-text">
                Great selection of wristwatches! Ordering was easy, delivery was
                fast, and the watch looks exactly like it does in the photos.
                Very satisfied with my purchase.
              </p>
            </div>
          </div>
          <li class="swiper-slide">
            <div class="reviews-item">
              <img
                srcset="/img/reviews/team5.png 1x, /img/reviews/team5@2x.png 2x"
                src="/img/reviews/team5.png"
                alt="photo Nazar Babenko"
                width="56"
                height="56"
                class="reviews-img"
              />
              <div class="description-reviews">
                <h3 class="description-reviews-title">Nazar Babenko</h3>
                <p class="description-reviews-text">
                  Thrilled with my new watch purchase. Excellent quality,
                  competitive prices. Order was processed promptly, and delivery
                  arrived on time. Highly recommend.
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-item">
              <img
                srcset="/img/reviews/team6.png 1x, /img/reviews/team6@2x.png 2x"
                src="/img/reviews/team6.png"
                alt="photo Olena Kampusch"
                width="56"
                height="56"
                class="reviews-img"
              />
              <div class="description-reviews">
                <h3 class="description-reviews-title">Olena Kampusch</h3>
                <p class="description-reviews-text">
                  Ordered a watch from this online store and couldn't be
                  happier. Fast delivery, great customer service, and excellent
                  product quality. Truly satisfied with my purchase.
                </p>
              </div>
            </div>
          </li>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
