<section class="section" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="desctop-container">
      <div class="clock-conatiner">
        <ul class="clock-menu">
          <li class="clock-item">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-green-clock.png    1x,
                  ./img/sale/tablet-green-clock@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/green-clock.png    1x,
                  ./img/sale/green-clock@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale/green-clock.png"
                alt="green clock"
                class="clock-img-menu"
              />
            </picture>
          </li>
          <li class="clock-item">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-blue-clock.png    1x,
                  ./img/sale/tablet-blue-clock@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/blue-clock.png    1x,
                  ./img/sale/blue-clock@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale/blue-clock.png"
                alt="blue-clock"
                class="clock-img-menu"
              />
            </picture>
          </li>
          <li class="clock-item">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-left-clock.png    1x,
                  ./img/sale/tablet-left-clock@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/left-clock.png    1x,
                  ./img/sale/left-clock@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale/left-clock.png"
                alt="left-clock"
                class="clock-img-menu"
              />
            </picture>
          </li>
          <li class="clock-item">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet-back-clock.png   1x,
                  ./img/sale/tablet-back-clock@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale/back-clock.png    1x,
                  ./img/sale/back-clock@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale/back-clock.png"
                alt="back-clock"
                class="clock-img-menu"
              />
            </picture>
          </li>
        </ul>
        <div class="front-clock-container">
          <picture>
            <source
              srcset="
                ./img/sale/tablet-front-clock.png    1x,
                ./img/sale/tablet-front-clock@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale/front-clock.png    1x,
                ./img/sale/front-clock@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/sale/front-clock.png"
              alt="front-clock"
              class="clock-img"
            />
          </picture>
        </div>
      </div>
      <div class="sale-container">
        <div class="sale-title-container">
          <p class="sale-discription-title">
            MARQ&reg; Commander (Gen 2) - Carbon Edition
          </p>
          <p class="tag-discription">Product tag: 706587</p>
        </div>
        <button class="sale-button" type="button">&euro;1500</button>
        <button class="old-price" type="button">&euro;3000</button>
        <div class="sale-discription-conatiner">
          <p class="sale-discription">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
        </div>
        <div class="features-clock-conatiner">
          <ul class="features-clock-menu">
            <li class="features-clock-item">
              <button class="features-clock-btn">Fused carbon fiber</button>
            </li>
            <li class="features-clock-item">
              <button class="features-clock-btn">Grade-5 Titanuim</button>
            </li>
            <li class="features-clock-item">
              <button class="features-clock-btn">Athlete</button>
            </li>
            <li class="features-clock-item">
              <button class="features-clock-btn">Golfer</button>
            </li>
            <li class="features-clock-item">
              <button class="features-clock-btn">Commander</button>
            </li>
            <li class="features-clock-item">
              <button class="features-clock-btn">Adventurer</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
