/* Reset styles */

html {
  /*   Додати щоб скролл був повільний */
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
    url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Black.woff2') format('woff2'),
    url('Gilroy-Black.woff') format('woff'),
    url('Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-style: normal;

  color: #0c0c0c;
  background-color: #fbfbfb;
}

.section {
  padding: 30px 0;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
  .section {
    padding: 50px 0;
  }
}
